In [2]:
from IPython.core.display import display, HTML

display(HTML("<style>.container { width:90% !important; }</style>"))

In [3]:
import pandas as pd
import numpy as np

In [4]:
zonizzazione = pd.read_csv('Data/zonizzazione/zonizzazione_ABCD.csv')
zonizzazione

,Provincia,Codice Istat,Comune,Zona,Residenti 2008,Superficie (ha)
0,BG,16009,AMBIVERE,A,2341,327
1,BG,16013,ARZAGO D'ADDA,A,2836,944
2,BG,16018,BAGNATICA,A,4119,639
3,BG,16020,BARIANO,A,4396,714
4,BG,16021,BARZANO',A,5178,356
...,...,...,...,...,...,...
1540,VA,12129,TRONZANO LAGO MAGGIORE,C,266,1068
1541,VA,12131,VALGANNA,C,1605,1231
1542,VA,12132,VARANO BORGHI,C,2313,328
1543,VA,12135,VEDDASCA,C,290,1701
1544,VA,12139,VIGGIU',C,5243,928

In [5]:
AGG_MI = zonizzazione[zonizzazione['Zona'] == 'AGG MI']
AGG_MI

,Provincia,Codice Istat,Comune,Zona,Residenti 2008,Superficie (ha)
513,CO,13012,AROSIO,AGG MI,4873,271
514,CO,13035,CABIATE,AGG MI,7340,322
515,CO,13041,CANTÙ,AGG MI,38978,2323
516,CO,13043,CAPIAGO INTIMIANO,AGG MI,5509,576
517,CO,13048,CARUGO,AGG MI,6221,416
...,...,...,...,...,...,...
1465,VA,12075,GERENZANO,AGG MI,10192,987
1466,VA,12109,ORIGGIO,AGG MI,7270,806
1467,VA,12118,SAMARATE,AGG MI,16265,1585
1468,VA,12119,SARONNO,AGG MI,38749,1089
1469,VA,12130,UBOLDO,AGG MI,10323,1071

In [6]:
listacomuni = pd.read_csv('Data/zonizzazione/listacomuni.csv', sep = ';', encoding = 'latin')
listacomuni

,Istat,Comune,Provincia,Regione,Prefisso,CAP,CodFisco,Abitanti,Link
0,28001,Abano Terme,PD,VEN,49,35031,A001,19726,http://www.comuni-italiani.it/028/001/
1,98001,Abbadia Cerreto,LO,LOM,371,26834,A004,293,http://www.comuni-italiani.it/098/001/
2,97001,Abbadia Lariana,LC,LOM,341,23821,A005,3305,http://www.comuni-italiani.it/097/001/
3,52001,Abbadia San Salvatore,SI,TOS,577,53021,A006,6722,http://www.comuni-italiani.it/052/001/
4,95001,Abbasanta,OR,SAR,785,09071,A007,2872,http://www.comuni-italiani.it/095/001/
...,...,...,...,...,...,...,...,...,...
8087,30136,Zuglio,UD,FVG,433,33020,M200,607,http://www.comuni-italiani.it/030/136/
8088,96083,Zumaglia,BI,PIE,15,13848,M201,1152,http://www.comuni-italiani.it/096/083/
8089,78155,Zumpano,CS,CAL,984,87040,M202,2413,http://www.comuni-italiani.it/078/155/
8090,64120,Zungoli,AV,CAM,825,83030,M203,1232,http://www.comuni-italiani.it/064/120/
8091,102050,Zungri,VV,CAL,963,89867,M204,2055,http://www.comuni-italiani.it/102/050/

In [13]:
#comuni_AGG_MI = pd.merge(AGG_MI[['Codice Istat', 'Provincia']], listacomuni[['Comune', 'CAP', 'Istat']], left_on = 'Codice Istat', right_on = 'Istat')
comuni_AGG_MI = pd.merge(AGG_MI[['Provincia']], listacomuni[['Comune', 'CAP', 'Istat']], left_on = AGG_MI['Comune'].str.lower(), right_on = listacomuni['Comune'].str.lower())
comuni_AGG_MI

                 key_0 Provincia             Comune    CAP  Istat
0               arosio        CO             Arosio  22060  13012
1              cabiate        CO            Cabiate  22060  13035
2                cantù        CO              Cantù  22063  13041
3    capiago intimiano        CO  Capiago Intimiano  22070  13043
4               carugo        CO             Carugo  22060  13048
..                 ...       ...                ...    ...    ...
100          gerenzano        VA          Gerenzano  21040  12075
101            origgio        VA            Origgio  21040  12109
102           samarate        VA           Samarate  21017  12118
103            saronno        VA            Saronno  21047  12119
104             uboldo        VA             Uboldo  21040  12130

[105 rows x 5 columns]

In [14]:
ix =['x' in x for x in comuni_AGG_MI['CAP']]
milano = pd.DataFrame(np.repeat(comuni_AGG_MI[ix].values, 20162-20121+1, axis=0))
milano['cap'] = range(20121, 20163)
milano = milano[[0, 1, 2, 'cap', 4]]
milano.set_axis(['Codice Istat', 'Provincia', 'Comune', 'CAP', 'Istat'], axis = 1, inplace= True)
milano

   Codice Istat Provincia  Comune    CAP  Istat
0        milano        MI  Milano  20121  15146
1        milano        MI  Milano  20122  15146
2        milano        MI  Milano  20123  15146
3        milano        MI  Milano  20124  15146
4        milano        MI  Milano  20125  15146
5        milano        MI  Milano  20126  15146
6        milano        MI  Milano  20127  15146
7        milano        MI  Milano  20128  15146
8        milano        MI  Milano  20129  15146
9        milano        MI  Milano  20130  15146
10       milano        MI  Milano  20131  15146
11       milano        MI  Milano  20132  15146
12       milano        MI  Milano  20133  15146
13       milano        MI  Milano  20134  15146
14       milano        MI  Milano  20135  15146
15       milano        MI  Milano  20136  15146
16       milano        MI  Milano  20137  15146
17       milano        MI  Milano  20138  15146
18       milano        MI  Milano  20139  15146
19       milano        MI  Milano  20140  15146
20       milano        MI  Milano  20141  15146
21       milano        MI  Milano  20142  15146
22       milano        MI  Milano  20143  15146
23       milano        MI  Milano  20144  15146
24       milano        MI  Milano  20145  15146
25       milano        MI  Milano  20146  15146
26       milano        MI  Milano  20147  15146
27       milano        MI  Milano  20148  15146
28       milano        MI  Milano  20149  15146
29       milano        MI  Milano  20150  15146
30       milano        MI  Milano  20151  15146
31       milano        MI  Milano  20152  15146
32       milano        MI  Milano  20153  15146
33       milano        MI  Milano  20154  15146
34       milano        MI  Milano  20155  15146
35       milano        MI  Milano  20156  15146
36       milano        MI  Milano  20157  15146
37       milano        MI  Milano  20158  15146
38       milano        MI  Milano  20159  15146
39       milano        MI  Milano  20160  15146
40       milano        MI  Milano  20161  15146
41       milano        MI  Milano  20162  15146

In [16]:
CAP_AGG_MI = comuni_AGG_MI[['x' not in x for x in comuni_AGG_MI['CAP']]]
CAP_AGG_MI = pd.concat([CAP_AGG_MI, milano], ignore_index = True)
CAP_AGG_MI.sort_values('Comune', inplace = True, ignore_index = True)
CAP_AGG_MI.drop(['key_0', 'Codice Istat', 'Istat'], axis = 1, inplace = True)
CAP_AGG_MI

    Provincia              Comune    CAP
0          MB      Agrate Brianza  20864
1          LC              Airuno  23881
2          MB              Arcore  20862
3          MI               Arese  20020
4          CO              Arosio  22060
..        ...                 ...    ...
141        LC  Verderio Inferiore  23879
142        LC  Verderio Superiore  23878
143        MB          Villasanta  20852
144        MB           Vimercate  20871
145        MI           Vimodrone  20090

[146 rows x 3 columns]

In [17]:
CAP_AGG_MI.to_csv('Data/data_viz/CAP_AGG_MI.csv')