# Importazione librerie e setup

In [1]:
from IPython.core.display import display, HTML

display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas.api.types import CategoricalDtype

In [3]:
path = './data/'

# Conversione files e Importazione datasets

## Convesione da `.csv` a `.parquet`

Data la grande dimensione di alcuni dei dataset utilizzati, questi verranno convertiti da `.csv` a `.parquet` (Apache Parquet Format)

In [4]:
#df = pd.read_csv('./Datasets/Dati_sensori_meteo_2021.csv', low_memory=False)
#df.to_parquet('./Datasets/Dati_sensori_meteo_2021.parquet')

## Dataset Meteo - rilevazioni

### Attributi

- IdSensore: 
    - Tipologia: Testo normale
- Data: 
    - Data e ora, Marcatura oraria flessibile
- Valore: 
    - Tipologia: numero
    - Legenda: 9999 = dato mancante 888, 8888 = direzione vento variabile 777, 7777 = calma (solo per direzione di vento)
- idOperatore	
    - *Molto utile per capire la dimensione del dato*
    - LEGENDA: 1: Valore medio 3: Valore massimo 4: Valore cumulato (per la pioggia)
    - Testo normale
- Stato	
    - LEGENDA: VA, VV = dato valido NA, NV, NC = dato invalido NI = dato incerto ND = dato non disponibile
    - Testo normale

### Read_csv e group by

In [5]:
meteo_dict = {} #creo dizionario che contiene tutti i dataframe
meteo_dict_group = {} #creo dizionario che contiene tutti i dataframe

In [6]:
meteo_dict['meteo17'] = pd.read_parquet(f'{path}/data_meteo/Dati_sensori_meteo_2017.parquet')
meteo_dict['meteo17']['Data_corretta'] = pd.to_datetime(meteo_dict['meteo17']['Data'], dayfirst = True)
meteo_dict['meteo17'].drop('Data', axis = 1, inplace = True)
meteo_dict['meteo17'].drop(meteo_dict['meteo17'][(meteo_dict['meteo17']['Valore'].isin([9999, 888, 8888, 777, 7777])) | (meteo_dict['meteo17']['idOperatore'].isin([3, 4])) | (meteo_dict['meteo17']['Stato'].isna())].index, inplace = True)
meteo_dict['meteo17']['Stato'].value_counts(dropna = False)

VA    36114726
Name: Stato, dtype: int64

In [7]:
meteo_dict_group['meteo17'] = meteo_dict['meteo17'][['IdSensore', 'Data_corretta', 'Valore']]\
                                                    .groupby(['IdSensore',  meteo_dict['meteo17']['Data_corretta'].dt.date])\
                                                    .agg({'Valore': ['mean', 'std', 'max', 'count']})\
                                                    .reset_index()
meteo_dict_group['meteo17'].head()

  IdSensore Data_corretta     Valore
                                mean       std   max count
0         3    2017-01-01  37.054861  0.934560  38.3   144
1         3    2017-01-02  37.584028  0.618894  38.3   144
2         3    2017-01-03  37.242361  0.567238  38.2   144
3         3    2017-01-04  37.350694  0.591075  38.3   144
4         3    2017-01-05  37.583333  0.470084  38.3   144

In [8]:
meteo_dict['meteo18'] = pd.read_parquet(f'{path}/data_meteo/Dati_sensori_meteo_2018.parquet')
meteo_dict['meteo18']['Data_corretta'] = pd.to_datetime(meteo_dict['meteo18']['Data'], dayfirst = True)
meteo_dict['meteo18'].drop('Data', axis = 1, inplace = True)
meteo_dict['meteo18'].drop(meteo_dict['meteo18'][(meteo_dict['meteo18']['Valore'].isin([9999, 888, 8888, 777, 7777])) | (meteo_dict['meteo18']['idOperatore'].isin([3, 4])) | (meteo_dict['meteo18']['Stato'].isna())].index, inplace = True)
meteo_dict['meteo18']['Stato'].value_counts(dropna = False)

VA    38836680
Name: Stato, dtype: int64

In [9]:
meteo_dict_group['meteo18'] = meteo_dict['meteo18'][['IdSensore', 'Data_corretta', 'Valore']]\
                                                    .groupby(['IdSensore',  meteo_dict['meteo18']['Data_corretta'].dt.date])\
                                                    .agg({'Valore': ['mean', 'std', 'max', 'count']})\
                                                    .reset_index()
meteo_dict_group['meteo18'].head()

  IdSensore Data_corretta     Valore
                                mean       std   max count
0         3    2018-01-01  37.935417  0.482631  38.6   144
1         3    2018-01-02  37.547917  0.614848  38.5   144
2         3    2018-01-03  38.061806  0.269420  38.3   144
3         3    2018-01-04  38.085417  0.259092  38.3   144
4         3    2018-01-05  37.530556  0.466542  38.2   144

In [10]:
meteo_dict['meteo19'] = pd.read_parquet(f'{path}/data_meteo/Dati_sensori_meteo_2019.parquet')
meteo_dict['meteo19']['Data_corretta'] = pd.to_datetime(meteo_dict['meteo19']['Data'], dayfirst = True)
meteo_dict['meteo19'].drop('Data', axis = 1, inplace = True)
meteo_dict['meteo19'].drop(meteo_dict['meteo19'][(meteo_dict['meteo19']['Valore'].isin([9999, 888, 8888, 777, 7777])) | (meteo_dict['meteo19']['idOperatore'].isin([3, 4])) | (meteo_dict['meteo19']['Stato'].isna())].index, inplace = True)
meteo_dict['meteo19']['Stato'].value_counts(dropna = False)

VA    39212039
Name: Stato, dtype: int64

In [11]:
meteo_dict_group['meteo19'] = meteo_dict['meteo19'][['IdSensore', 'Data_corretta', 'Valore']]\
                                                    .groupby(['IdSensore',  meteo_dict['meteo19']['Data_corretta'].dt.date])\
                                                    .agg({'Valore': ['mean', 'std', 'max', 'count']})\
                                                    .reset_index()
meteo_dict_group['meteo19'].head()

  IdSensore Data_corretta     Valore
                                mean       std   max count
0         3    2019-01-01  37.473611  0.924491  38.7   144
1         3    2019-01-02  37.147222  0.528879  38.3   144
2         3    2019-01-03  37.104167  0.301946  38.2   144
3         3    2019-01-04  37.143750  0.427502  38.6   144
4         3    2019-01-05  36.729861  0.319982  37.6   144

In [12]:
meteo_dict['meteo20'] = pd.read_parquet(f'{path}/data_meteo/Dati_sensori_meteo_2020.parquet')
meteo_dict['meteo20']['Data_corretta'] = pd.to_datetime(meteo_dict['meteo20']['Data'], dayfirst = True)
meteo_dict['meteo20'].drop('Data', axis = 1, inplace = True)
meteo_dict['meteo20'].drop(meteo_dict['meteo20'][(meteo_dict['meteo20']['Valore'].isin([9999, 888, 8888, 777, 7777])) | (meteo_dict['meteo20']['idOperatore'].isin([3, 4])) | (meteo_dict['meteo20']['Stato'].isna())].index, inplace = True)
meteo_dict['meteo20']['Stato'].value_counts(dropna = False)

VA    61491589
Name: Stato, dtype: int64

In [13]:
meteo_dict_group['meteo20'] = meteo_dict['meteo20'][['IdSensore', 'Data_corretta', 'Valore']]\
                                                    .groupby(['IdSensore',  meteo_dict['meteo20']['Data_corretta'].dt.date])\
                                                    .agg({'Valore': ['mean', 'std', 'max', 'count']})\
                                                    .reset_index()
meteo_dict_group['meteo20'].head()

  IdSensore Data_corretta     Valore
                                mean       std   max count
0         3    2020-01-01  35.312500  0.888692  37.0   144
1         3    2020-01-02  35.444444  0.782481  37.0   144
2         3    2020-01-03  35.625000  0.553122  37.0   144
3         3    2020-01-04  34.902778  0.838909  38.0   144
4         3    2020-01-05  34.770833  0.763858  37.0   144

In [14]:
meteo_dict['meteo21'] = pd.read_parquet(f'{path}/data_meteo/Dati_sensori_meteo_2021.parquet')
meteo_dict['meteo21']['Data_corretta'] = pd.to_datetime(meteo_dict['meteo21']['Data'], dayfirst = True)
meteo_dict['meteo21'].drop('Data', axis = 1, inplace = True)
meteo_dict['meteo21'].drop(meteo_dict['meteo21'][(meteo_dict['meteo21']['Valore'].isin([9999, 888, 8888, 777, 7777])) | (meteo_dict['meteo21']['idOperatore'].isin([3, 4])) | (meteo_dict['meteo21']['Stato'].isna())].index, inplace = True)
meteo_dict['meteo21']['Stato'].value_counts(dropna = False)

VA    40009821
Name: Stato, dtype: int64

In [15]:
meteo_dict_group['meteo21'] = meteo_dict['meteo21'][['IdSensore', 'Data_corretta', 'Valore']]\
                                                    .groupby(['IdSensore',  meteo_dict['meteo21']['Data_corretta'].dt.date])\
                                                    .agg({'Valore': ['mean', 'std', 'max', 'count']})\
                                                    .reset_index()
meteo_dict_group['meteo21'].head()

  IdSensore Data_corretta     Valore
                                mean       std   max count
0         3    2021-01-01  34.878378  0.329079  35.0    74
1         3    2021-01-02  34.814815  0.390259  35.0   108
2         3    2021-01-03  34.925234  0.327971  36.0   107
3         3    2021-01-04  33.962264  0.567778  35.0   106
4         3    2021-01-05  34.280374  0.451296  35.0   107

# Concatenazione ed esportazione

In [19]:
#meteo_tot_group = pd.concat(meteo_dict_group).reset_index(drop=True)
meteo_tot_group.columns = ['IdSensore', 'Data', 'Valore_mean', 'Valore_std', 'Valore_max', 'Valore_count']
meteo_tot_group.head()

   IdSensore        Data  Valore_mean  Valore_std  Valore_max  Valore_count
0          3  2017-01-01    37.054861    0.934560        38.3           144
1          3  2017-01-02    37.584028    0.618894        38.3           144
2          3  2017-01-03    37.242361    0.567238        38.2           144
3          3  2017-01-04    37.350694    0.591075        38.3           144
4          3  2017-01-05    37.583333    0.470084        38.3           144

In [20]:
meteo_tot_group.to_csv(f'{path}/data_meteo/meteo_group_17_21.csv')